<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>ขอคะแนนเยอะๆนะครับอาจารย์</h1>
        <p><a href="insert"  class="btn btn-primary">กรอกข้อมูล</a></p>
        
        <img src="https://lungtumaleaw.com/uploads/posts/972_0_20180709112002.jpg" style="width:640px;height:660px">
        <h5>picture by <a href="https://superninjadeluxe.deviantart.com/art/Django-564499014">superninjadeluxe - DeviantArt</a></h5>
      </div>
    </div>

  </body>
</html>